.page {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Mulish', sans-serif;
    transition: all 1s ease, color 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease, color 1s ease;
    -ms-transition: all 1s ease, color 1s ease;
    -o-transition: all 1s ease, color 1s ease;
}

@media (prefers-color-scheme: dark) {
    .page {
        background-color: #161718;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
}
}

.header {
    position: fixed;
    top: 2vh;
    left: 2vw;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.header:hover {
    position: fixed;
    top: 1.75vh;
    left: 1.75vw;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.image {
    transition: all 0.2s linear;
    width: 2vw;
    height: 2vw;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.image:hover {
    transition: all 0.2s linear;
    width: 2.5vw;
    height: 2.5vw;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.main {
    height: 90vh;
    align-content: center;
    width: 45vw;
    min-width: 218px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
    margin: auto;
    flex-wrap: wrap;
}

.arrow-top {
    width: clamp(50px, 3vw, 3vw);
    height: clamp(50px, 3vw, 3vw);
    border-top: clamp(10px, 0.7vw, 0.7vw) solid #000;
    border-right: clamp(10px, 0.7vw, 0.7vw) solid #000;
    margin: 0 0 clamp(40px, 2vw, 2vw) clamp(40px, 2vw, 2vw);
    transform: rotate(135deg);
    transition: border-top 1s ease, border-right 1s ease;
    -webkit-transition: border-top 1s ease, border-right 1s ease;
    -moz-transition: border-top 1s ease, border-right 1s ease;
    -ms-transition: border-top 1s ease, border-right 1s ease;
    -o-transition: border-top 1s ease, border-right 1s ease;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

@media (prefers-color-scheme: dark) {
    .arrow-top {
        border-top: clamp(10px, 0.7vw, 0.7vw) solid #5f6368;
        border-right: clamp(10px, 0.7vw, 0.7vw) solid #5f6368;
        transition: border-top 1s ease, border-right 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
}
}

.search {
    display: flex;
    background-color: white;
    width: 45vw;
    min-width: 205px;
    min-height: 30px;
    height: 2.5vw;
    margin: 0 auto;
    padding: 0;
    align-self: center;
    border: clamp(2px, 0.1vw, 0.1vw) solid rgb(233, 191, 23);
    border-radius: clamp(5px, 0.5vw, 0.5vw);
    -webkit-border-radius: clamp(5px, 0.5vw, 0.5vw);
    -moz-border-radius: clamp(5px, 0.5vw, 0.5vw);
    -ms-border-radius: clamp(5px, 0.5vw, 0.5vw);
    -o-border-radius: clamp(5px, 0.5vw, 0.5vw);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

@media (prefers-color-scheme: dark) {
    .search {
        background-color: #202124;
        border: clamp(2px, 0.1vw, 0.1vw) solid #5f6368;
        border-radius: clamp(20px, 5vw, 5vw);
        -webkit-border-radius: clamp(20px, 5vw, 5vw);
        -moz-border-radius: clamp(20px, 5vw, 5vw);
        -ms-border-radius: clamp(20px, 5vw, 5vw);
        -o-border-radius: clamp(20px, 5vw, 5vw);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
}
}

.input {
    min-width: 120px;
    width: 40vw;
    min-height: 26px;
    height: 2vw;
    margin: 0;
    padding: 0 clamp(10px, 0.4vw, 0.4vw) clamp(1px, 0.1vw, 0.1vw) clamp(12px, 0.6vw, 0.6vw);
    align-self: center;
    background-color: transparent;
    color: black;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    font-size: 1vw;
    align-items: center;
    font-size: clamp(15px, 1.1vw, 1.1vw);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.input:focus {
    outline: none !important;
}

@media (prefers-color-scheme: dark) {
    .input {
        color: white;
        padding: 0 clamp(10px, 0.4vw, 0.4vw) clamp(1px, 0.1vw, 0.1vw) clamp(12px, 1vw, 1vw);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
}
}

.button {
    min-width: 58px;
    width: 5vw;
    min-height: 26px;
    height: 2vw;
    margin: clamp(3px, 0.25vw, 0.25vw);
    padding: 0 0px clamp(1px, 0.1vw, 0.1vw) 0px;
    align-self: center;
    justify-self: center;
    color: #000;
    cursor: pointer;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: clamp(15px, 1.1vw, 1.1vw);
    background-color: rgb(233, 191, 23);
    border-radius: clamp(5px, 0.5vw, 0.5vw);
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    -moz-border-radius: clamp(5px, 0.5vw, 0.5vw);
    -ms-border-radius: clamp(5px, 0.5vw, 0.5vw);
    -o-border-radius: clamp(5px, 0.5vw, 0.5vw);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}



.button:focus {
    outline: none !important;
}

.button:active {
    min-width: 56px;
    width: 4.9vw;
    min-height: 24px;
    height: 1.9vw;
    margin: clamp(4px, 0.3vw, 0.3vw);
    font-size: clamp(14px, 1vw, 1vw);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

@media (prefers-color-scheme: dark) {
    .button {
        border-radius: clamp(20px, 5vw, 5vw);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
}
}

.click {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    min-width: 205px;
    text-align: end;
    justify-content: end;
}

.arrow-bottom {
    width: clamp(50px, 3vw, 3vw);
    height: clamp(50px, 3vw, 3vw);
    border-top: clamp(10px, 0.7vw, 0.7vw) solid #000;
    border-right: clamp(10px, 0.7vw, 0.7vw) solid #000;
    margin: clamp(40px, 2vw, 2vw) 1vw 0 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: border-top 1s ease, border-right 1s ease;
    -webkit-transition: border-top 1s ease, border-right 1s ease;
    -moz-transition: border-top 1s ease, border-right 1s ease;
    -ms-transition: border-top 1s ease, border-right 1s ease;
    -o-transition: border-top 1s ease, border-right 1s ease;
}

@media (prefers-color-scheme: dark) {
    .arrow-bottom {
        border-top: clamp(10px, 0.7vw, 0.7vw) solid #5f6368;
        border-right: clamp(10px, 0.7vw, 0.7vw) solid #5f6368;
        transition: border-top 1s ease, border-right 1s ease;
        -webkit-transition: border-top 1s ease, border-right 1s ease;
        -moz-transition: border-top 1s ease, border-right 1s ease;
        -ms-transition: border-top 1s ease, border-right 1s ease;
        -o-transition: border-top 1s ease, border-right 1s ease;
}
}

.text {
    width: clamp(210px, 45vw, 45vw);
    color: #000;
    font-size: clamp(21px, 4vw, 4vw);
    font-weight: 900;
    margin: -25px;
    padding: 0;
    user-select: none;
}

@media (prefers-color-scheme: dark) {
    .text {
        color: #5f6368;
        transition: font-size 0.5s ease, color 1s ease;
        -webkit-transition: font-size 0.5s ease, color 1s ease;
        -moz-transition: font-size 0.5s ease, color 1s ease;
        -ms-transition: font-size 0.5s ease, color 1s ease;
        -o-transition: font-size 0.5s ease, color 1s ease;
}
}

.footer {
    position: fixed;
    text-align: center;
    margin: auto;
    width: 30vw;
    min-width: 250px;
    right: 0;
    left: 0;
    bottom: 10px;
    font-size: clamp(10px, 0.8vw, 0.8vw);
    font-weight: 200;
    line-height: clamp(10px, 0.7vw, 0.7vw);
    color: #5f6368;
    user-select: none;
    transition: font-size 0.5s ease;
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -ms-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 0;
    visibility: hidden;
    top: 0;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.popup-oppen {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.popup-button {
    position: relative;
    left: 10px;
    bottom: 21vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.close {
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    transform: rotate(45deg);
    right: -8px;
    top: 10px;
}

.close::before {
    content: "";
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    right: 0px;
    top: 0px;
}

.message {
    width: 80vw;
    height: 40vw;
    font-size: 8vw;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    user-select: none;
    filter: drop-shadow(0px 0px 2vw white);
    -webkit-border-radius: 5vw;
    -moz-border-radius: 5vw;
    -ms-border-radius: 5vw;
    -o-border-radius: 5vw;
    -webkit-filter: drop-shadow(0px 0px 2vw white);
}

.link {
    text-decoration: underline;
    color: #5f6368;
}